{% extends 'app/base.html' %}

{% block content %}

   <!-- BREAKER (About us) -->

	<div class="breaker" style=" margin-top:100px; padding:50px;">
		<h1><span>About us</span></h1>
	</div>
	
<!-- BREAKER (About us) -->

<div style="margin-bottom:200px; font-size:1.7em;">
<p>We review the best selling materials on the market. and every new viral big product, hopefully to help the customer to make the right decision. </p>

<p>we’ve done the hard work for you feel secure knowing that you are making a trusted and informed decision on the solutions that are best suited to you and your lifestyle.</p>
</div>
{% endblock %}
