{% extends 'app/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load crispy_forms_tags %}


{% block content %}


<!-- BREAKER (Contact us) -->

	<div class="breaker" style=" margin-top:100px; padding:50px;">
		<h1><span>Contact us</span></h1>
	</div>
	
<!-- BREAKER (Contact us) -->

<div class="row justify-content-center">
<div class="col-6 " >
	<form class="mx-auto" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{form|crispy}}
	    <button type="submit" class="submit-btn btn btn-primary">Submit</button>
	</form>
</div>
</div>


{% endblock %}
