{% extends 'app/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load crispy_forms_tags %}


{% block content %}


<!-- BREAKER (Terms of use) -->

	<div class="breaker" style=" margin-top:100px; padding:50px;">
		<h1><span>Terms of use</span></h1>
	</div>
	
<!-- BREAKER (Terms of use) -->
<div style="font-size:1.7em;">
<p>By accessing this blog, you will need to know that it has its own terms and conditions of use. Your responsibility is to comply with these terms and conditions.</p>

<p>TERMS AND CONDITIONS :</p>

<hr class="col-3" align="left">

<p><strong>1. Terms</strong></p>

<p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.

<p><strong>2. Use License</strong></p>

<p>a. Permission is granted to temporarily download one copy of the materials (information or software) on This website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:

This license shall automatically terminate if you violate any of these restrictions and may be terminated by This website at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.

modify or copy the materials;
use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
attempt to decompile or reverse engineer any software contained on This website;
remove any copyright or other proprietary notations from the materials; or
transfer the materials to another person or “mirror” the materials on any other server.
<p>b. This license shall automatically terminate if you violate any of these restrictions and may be terminated by This website at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>

<p><strong>3. Disclaimer</strong></p>

<p>The materials on This website are provided “as is”. This website makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, This website does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
<p><strong>4. Limitations</strong></p>

<p>In no event shall This website or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on This website, even if This website or a This website’s authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

<p><strong>5. Revisions and Errata</strong></p>

<p>The materials appearing on This web site could include technical, typographical, or photographic errors. This website does not warrant that any of the materials on its web site are accurate, complete, or current. This website may make changes to the materials contained on its web site at any time without notice. This website does not, however, make any commitment to update the materials.</p>

<p><strong>6. Links</strong></p>

<p>This website has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by This website. Use of any such linked web site is at the user’s own risk.</p>

<p><strong>7. Site Terms of Use Modifications</strong></p>

<p>This website may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
</div>

{% endblock %}
